name: ci-java-spring-workflow
on:
  pull_request:
    branches:
      - develop

jobs:
  build-app:
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        java: ["17"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "adopt"
          java-version: ${{ matrix.java }}
      - run: "java -version"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Files
        run: ls build/libs/

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: "{{defaultContext}}:devops/Dockerfile"
          push: false
          tags: jaksonsneider/spring:graphQL
